<html>

<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
            <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"></div>
        </form>
    </div>
    <form method="post" action="/greeting/filter">
        <input type="text" name="filter">
        <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"></div>
        <button type="submit">Фильтровать</button>
    </form>
    <form method="post" action="/greeting/addMessage">
        <input type="text" name="text" placeholder="введите сообщение">
        <input type="text" name="tag" placeholder="тэг">
        <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"></div>
        <button type="submit">Добавить</button>
    </form>
    <div>Сообщение</div>
    {{#messages}}
        <div>
            <b>{{text}}</b>
            <span>{{id}}</span>
            <i>{{tag}}</i>
        </div>
    {{/messages}}
</body>
</html>